<div class="subscribe container-fluid">
  <div class="content">
    <form>
      <div class="form-group">
        <label for="subscribe" name="subscribe">
          <h2 class="text-gray">記得<br>訂閱以獲取更多資訊！</h2>
        </label>
        <div class="input-group mb-3">
          <input type="email" class="form-control p-3 h-100" placeholder="Your email address" aria-label="subscribe" aria-describedby="subscribe" id="subscribe">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="subscribe">Subscirbe</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
   