<div class="submit container-fluid">
    <div class="content">
      <h2 class="text-gray">記得<br>訂閱以獲取更多資訊！</h2>
      <div class="input-group mb-3 row">
        <input type="text" placeholder="Your email address" aria-label="Recipient's username" aria-describedby="button-addon2" class="py-2 col-7">
        <div class="input-group-append">
        <button class="btn btn-primary" type="button" id="button-addon2">Subscirbe</button>
        </div>
      </div>
    </div>
  </div>