.card{
    img{
        object-fit: cover;
        height: 255px;
        width: 100%;
    }
    h4{
        white-space: nowrap;
        @include pad(){
            white-space: normal;       
        }
    }
    .pic2{
        object-position: 50% 90%;
    }
    .pic3{
        object-position: 0 -35px;
    }
    .pic4{
        object-position: 0 -15px;
    }
    .pic5{
        object-position: 0 0;
    }
}

.recommendProduct .card{
    img{
        height: 550px;
        @include pad(){
            height: 450px;
        }
    }
}