.form{
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translateY(50%); 
    @include mobile(){
        position: static;
        transform: translateY(0);
        margin-bottom: 113px;
    }        
}