.subscribe{
    position: relative;
    height: 600px;
    background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index10.jpg?raw=true');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .content{
        width: 30%;
        position: absolute;
        bottom: 20%;
        left: 20%;
        input{
            border:2px solid $primary; 
        }
        button{
            border-radius: 10px;
        }
    }
    @include mobile(){
        .content{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h2{
                text-align: center;
            }
        }
        .input-group{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}
