footer{
    height: 80px;
    .footer-inner{
        justify-content: space-between;
    }
    .footerLogo{        
        a{
            width: 120px;
            height: 30px;
            background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfumewhite.png?raw=true');
            display: block;
            text-indent: 101%;
            overflow: hidden;
            white-space: nowrap;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    ul li{
        font-size: 20px;
    }
}