header{
    height: 90px;
    h1{
        a{
            background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfume@2x.png?raw=true');
            width: 128px;
            height: 38px;
            background-size: cover;
            display: block;
            text-indent: 101%;
            overflow: hidden;
            white-space: nowrap;
            background-repeat: no-repeat;
        }
    }
    .accordion{
        z-index: 1000;
    }
    .badge{
        transform: translate(-30px, -10px);
    }
}