<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
  rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">  
</head>

<body>
  <div class="container-fluid container-md">
    <header class="header d-flex justify-content-between py-3 align-items-center">
      <h1>
        <a href="index.html">D'Perfume</a>
      </h1>
      <ul class="d-md-flex d-none mt-2">
        <li class="mr-5">
          <a href="products.html" class="text-secondary">
            <span class="material-icons">
              store
            </span>
            Products
          </a>
        </li>
        <li class="mr-5">
          <a href="logIn.html" class="text-secondary">
            <span class="material-icons">
              person
            </span>
            log in
          </a>
        </li>
        <li class="mr-5">
          <a href="#" class="text-secondary">
            <span class="material-icons">
              favorite
            </span>
            Wishlist
          </a>
        </li>
        <li class="mr-5">
          <a href="detail.html" class="text-secondary">
            <span class="material-icons">
              shopping_cart
            </span>
            Cart(3)
          </a>
        </li>
      </ul>
      <ul class="d-flex d-md-none align-items-center">
        <li>
          <a href="detail.html">
            <span class="material-icons mr-3 text-secondary">
              shopping_cart
            </span>
            <span class="badge badge-pill badge-danger">3</span>
          </a>
        </li>
        <li>
          <button class="btn btn-white border-0 px-0" type="button" data-toggle="collapse" data-target="#collapseNavbar" aria-expanded="false" aria-controls="collapseNavbar">
            <span class="material-icons">
              menu
            </span>
          </button>
        </li>
      </ul>
    </header>
  </div>
  <div class="collapse navbar-collapse d-md-none font-lg" id="collapseNavbar">
    <nav class="navbar navbar-light bg-secondary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <a class="nav-link text-white w-100 text-center" href="products.html">Product</a>
    </nav>
    <nav class="navbar navbar-light bg-secondary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <a class="nav-link text-white w-100 text-center" href="products.html">Wishlist</a>
    </nav>
    <nav class="navbar navbar-light bg-secondary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <a class="nav-link text-white w-100 text-center" w-100 text-center href="products.html">Blog</a>
    </nav>
    <nav class="navbar navbar-light bg-secondary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <a class="nav-link text-white w-100 text-center" href="products.html">Contact</a>
    </nav>
    <nav class="navbar navbar-light bg-secondary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <a class="nav-link text-white w-100 text-center" href="products.html">log in</a>
    </nav>
  </div>
  <%- contents %>
    
  
  <% if(subscribe) { %>
    <%- include('layout/subscribe.ejs'); %>
  <% }%>
  <footer class="footer container-fluid bg-primary py-3 px-lg-5">
    <div class="footer-inner d-flex align-items-center">
      <h2 class="footerLogo mr-lg-5"><a href="#">D'Perfume</a></h2>
      <h5 class="mb-0 text-white">© 2020. All Rights Reserved.</h5>
        <ul class="d-none d-lg-flex mb-0 ml-auto">
          <li class="mr-5">
            <a href="#" class="text-white">
              Product
            </a>
          </li>
          <li class="mr-5">
            <a href="#" class="text-white">
              Blog
            </a>
          </li>
          <li>
            <a href="#" class="text-white">
              Contact
            </a>
          </li>
        </ul>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
  AOS.init();
  </script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>  
</body>

</html>
