.banner {
    background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index1.jpg?raw=true');
    background-size: cover;
    height: 870px;
    @include mobile(){
        height: 480px;
    }
    .content{
        color: $light;
        .btn{
            font-size: 20px;
            border: 2px solid;
            border-radius: 30px;
        }
        @include pad(){
            width: 65%;
        }
        @include mobile(){
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
        }
    }
}
.introduce{
    .training{
        height: auto;
    }
    .N5{
        object-position: 0px 0;
    }
    img{
        width: 50%;
        height: 500px;
        @include pad(){
            height: 350px;
        }
        @include mobile(){
            width: 100%;
        }
    }
    @include pad(){
        .training{
            height: 680px;
        }
    }
}

.content{
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    button{
        border-radius: 30px;
    }
    @include mobile(){
        width: 100%;
        margin-bottom: 30px;
    }
}
.recycle{
    @include mobile(){
        img{
            object-fit: cover;
            margin-bottom: 15px;
        }
    }
}