*,
*::before,
*::after {
	box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    overflow-x:hidden;
}

.icon{
    a{
        text-decoration: none;
    }
}

.font{
    &-xs{
        font-size: 12px;
    }
    &-sm{
        font-size: 14px;
    }
    &-md{
        font-size: 16px;
    }
    &-lg{
        font-size: 20px;
    }
}

.material-icons{
    vertical-align: bottom;
}

li{
    list-style: none;
}

img{
    object-fit: cover;
    display: block;
    max-width: 100%;
    height: auto;
}

.img{
    background-size: cover;
    background-position: center center;
}

.square_img{
    padding-top: 100%;
}

.active{
    color: $primary;
    border-bottom: 2px solid $primary;
}

table td{
    white-space: nowrap;
}

input{
    color: $dark;
}

.origin_price{
    color: #CDCDCD;
    text-decoration: line-through;
}

a{
    display: block;
}