@mixin pad{
    @media(max-width: 992px){
        @content
    }
};

@mixin mobile{
    @media(max-width: 767px){
        @content
    }
};

@mixin clearfix() {
    &::after {
      display: block;
      clear: both;
      content: "";
    }
  }

  @mixin img-fluid() {
      display: block;
    // Part 1: Set a maximum relative to the parent
    max-width: 100%;
    // Part 2: Override the height to auto, otherwise images will be stretched
    // when setting a width and height attribute on the img element.
    height: auto;
  }